.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.linkMenuButton {
    min-width: 120px;
}
