.containerCanvas {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.containerSelectionPanel {
    background-color: gray;
}